@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */

* {
  box-sizing: border-box;
}

html {
  visibility: hidden;
  font-size: 100%;
}

.hidden {
  display: none;
}

/* font-size: calc(14px + 2 * ((100vw - 335px) / 1265)); */

/* light blue: #acccc6
dark blue: #524d5c
salmon: #faada0
white: #fffbef */

/* h2:before { 
  content: "Read: ";
<span class="Apple-converted-space">    color: #F00;</span>
} */

/* p:after{ 
  content: " -Read more… ";
  color:#f00;
} */

#overlord {
  font-family: 'Montserrat', sans-serif;
}

#nav {
  display: flex;
  flex-direction: column;
}

#top-nav-container {

}

.is-active {
  background-color: #524d5c;
}

.is-active span {
  color: #acccc6;
}



@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rollInFromLeft {
  0% {
    transform: translateX(-300%) rotate(-360deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes slideInFromLeft {
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBot {
  /* 0% {
    transform: translateX(-100%);
  } */
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes borderFadeIn {
  100% {
    border-bottom: 3px solid #acccc6 translateX(-100%);
  }
}

@keyframes slideBackToLeft {
  100% {
    transform: translateX(-100%);
  }
}

/* animation: 2s ease-out 0s 1 slide; */

#top-nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #acccc6;
  background-image: linear-gradient(to right, #acccc6, #524d5c);
}

#top-nav-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#top-nav-left img {
  height: 100%;
  width: auto;
  margin: 0 0 0 10%;
  animation: 2s ease-out 0s 1 rollInFromLeft;
}

#top-nav-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top-nav-right a {
  color: #acccc6;
}

#top-nav-right-header {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 5px #524d5c;
  height: 50%;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(18px + 20 * ((100vw - 335px) / 1265));
  animation: 2s ease-out 0s 1 slideInFromTop;
  line-height: 1;
}

#top-nav-right-number {
  height: 25%;
  margin: 0 15px 0 0;
  font-size: calc(14px + 4 * ((100vw - 335px) / 1265));
  animation: 2s ease-out 0s 1 slideInFromRight;
}

#top-nav-right-number a {
  transition: 0.5s;
}

#top-nav-right-number a:hover {
  text-shadow: 0px 0px 20px #acccc6;
}

#top-nav-right-phone-text {
  height: 25%;
  margin: 0 15px 0 0;
  /* padding: 0 15px; */
  font-size: calc(14px + 4 * ((100vw - 335px) / 1265));
  animation: 2s ease-out 0s 1 slideInFromRight;
}

#top-nav-right-phone-text a {
  transition: 0.5s;
}

#top-nav-right-phone-text a:hover {
  text-shadow: 0px 0px 20px #acccc6;
}

#top-nav-right-phone-text span {
  padding: 0 5px;
}




























#bottom-nav-container {
}

#bottom-nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0;
  width: 100%; */
  z-index: 100;
  background-color: #acccc6;

}

#bottom-nav-left {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-left: 1px solid #524d5c; */
  text-shadow: 1px 1px 5px #524d5c;
}

.bottom-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid #524d5c;
  border-right: 1px solid #524d5c;
  border-bottom: 1px solid #524d5c;
  transition: 0.5s;
}

.bottom-nav-button a {
  color: #524d5c;
  animation: 1.5s ease-out 0s 1 popIn;
  transition: 0.5s;
}

.bottom-nav-button span {
  color: #524d5c;
  transition: 0.5s;
}

#bottom-nav-home-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

#bottom-nav-home-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
}

#bottom-nav-home-link:hover span {
  color: #acccc6;
}

#bottom-nav-areas-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-nav-areas-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: 0.5s;
}

#bottom-nav-areas-link:hover span {
  color: #acccc6;
}

#bottom-nav-services-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

#bottom-nav-services-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: 0.5s;
}

#bottom-nav-services-link:hover span {
  color: #acccc6;
}

#bottom-nav-pricing-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
}

#bottom-nav-pricing-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
}

#bottom-nav-pricing-link:hover span {
  color: #acccc6;
}

#bottom-nav-booknow-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-nav-booknow-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
}

#bottom-nav-booknow-link:hover span {
  color: #acccc6;
}

#bottom-nav-booknow-link-span-2 {
  display: none;
}

#bottom-nav-right {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #acccc6;
  border-top: 1px solid #524d5c;
  /* border-right: 1px solid #524d5c; */
  border-bottom: 1px solid #524d5c;
}

#bottom-nav-right i {
  color: #524d5c;
  animation: 2s ease-out 0s 1 popIn;
}

#bottom-nav-right i:hover {
  transition: .5s;
  transform: scale(1.5);
}

#facebook-button {

}

#twitter-button {

}

#youtube-button {

}













.is-active {
  background-color: #524d5c;
}

.is-active span {
  color: #acccc6;
  transition: .4s;
}

.is-active:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

.is-active:hover span {
  margin: 0 0 6px 0;
}

.is-active:hover:before {
  visibility: visible;
  transform: scaleX(1);
}








#bottom-nav-home-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-home-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-home-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-areas-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-areas-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-areas-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-services-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-services-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-services-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-pricing-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-pricing-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-pricing-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-booknow-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-booknow-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-booknow-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}







































.gD {
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/dadintrailer2.jpg"); */
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
}

.gD-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 12vw 0;
}

.gD-title {
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  color: #fffbef;
  font-size: calc(34px + 96 * ((100vw - 360px) / 1240));
  margin: 0 15vw 0 0;
  padding: 20px 10px 2px 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  /* animation: 1s ease-in 0.5s 1 borderFadeIn forwards; */
}

.gD-title span {
  overflow: hidden;
  opacity: 1;
  animation: 1s ease-out 1.0s 1 slideInFromBot forwards;
  transform: translateY(100%);
}

.gD-title::after {
  content: '';
  position: relative;
  bottom: -2px;
  left: -4%;
  width: 108%;
  height: 2px;
  background: #acccc6;
  z-index: 99;
  animation:
    1.0s ease-out 0s 1 slideInFromLeft forwards,
    0.3s ease-out 2.0s 1 slideBackToLeft forwards;
  transform: translateX(-100%);
}

.gD-body {
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  color: #fffbef;
  font-size: calc(15px + 10 * ((100vw - 335px) / 1265));
  line-height: 2;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border-radius: 10px; */
  margin: 10vw 7vw;
}

.gD-go-back {
  background-color: #524d5c;
  width: 160px;
  height: 80px;
  border-top: 2px solid #acccc4;
  border-right: 2px solid #acccc4;
  border-bottom: 2px solid #acccc4;
}

.gD-go-back a {
  color: #acccc6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.gD-go-back span {
  color: #acccc6;
}

.gD-go-back a:hover {
  background-color: white;
}

.gD-go-back a:hover span {
  color: #524d5c;
}

.arrow {
  margin: 0 10px 0 -5px;
}

.areas-goback {

}

.services-goback {

}

.areas {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/dadcarry1.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.gD-box:hover .gD-title {
  /* border: 4px solid #acccc6; */
  /* background-color: #524d5c; */
  transition: 0.5s;
}

.gD-box:hover .gD-body {
  /* border: 4px solid #acccc6; */
  /* background-color: #524d5c; */
  transition: 0.5s;
}

.gD-box:hover span {
  /* color: #fffbef; */
  transition: 0.5s;
}

.gD-box span {
  transition: 0.5s;
}












































#home-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/dadcarry2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  box-shadow: 3px 3px 5px black;
}

#home-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  margin: 15vw 0;
}

#home-first {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
}

#home-img-container {
  width: 60%;
}

#home-first-logo {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  animation: 2s ease-in-out 0s 1 popIn;
}

#home-img-container-2 {
  display: none;
}

#home-first-logo-2 {
  display: none;
}

#home-mid {
  text-shadow: 3px 3px 5px black;
  /* box-shadow: 1px 1px 5px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#home-second {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  font-size: calc(30px + 15 * ((100vw - 360px) / 1240));
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5vw 3vw;
  z-index: 10;
  line-height: 1.6;
  color: #fffbef;
  transition: 0.5s;
  margin: 0 0 12vw 0;
  border-top: 2px solid #fffbef;
  border-bottom: 2px solid #fffbef;
}

/* #home-second:hover {
  background-color: #524d5c;
} */

#home-mid-bot {
  display: flex;
  width: 100%;
  margin: 0 0 15vw 0;
}

#home-third {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 0 0;
  padding: 9vw 0;
  border-top: 2px solid #fffbef;
  border-bottom: 2px solid #fffbef;
}

#home-third-button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  color: #fffbef;
  background-color: #524d5c;
  padding: 20px;
  font-size: calc(22px + 15 * ((100vw - 360px) / 1240));
  box-shadow: 1px 1px 5px black;
  line-height: 1.2;
  border-radius: 3px;
  text-shadow: 1px 1px 2px black;
  border: 2px solid transparent;
}

#home-third-button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  color: #fffbef;
  background-color: #524d5c;
  padding: 20px;
  font-size: calc(22px + 15 * ((100vw - 360px) / 1240));
  box-shadow: 1px 1px 5px black;
  line-height: 1.2;
  border-radius: 3px;
  text-shadow: 1px 1px 2px black;
  border: 2px solid transparent;
}

#home-fourth {
  display: none;
}

#home-bot {
}
  
#home-third-button-1:hover,
#home-third-button-2:hover {
  color: #524d5c;
  background-color: #fffbef;
  transition: 0.5s;
  border: 2px solid #524d5c;
}

/* #home-third-button::before {
  content: "";
  margin: 0 0 8px 10%;
  position: absolute;
  width: 80%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#home-third-button:hover::before {
  visibility: visible;
  background-color: #524d5c;
  transform: scaleX(1);
} */
































#aboutus-container {
  /* background-color: #acccc6;
  color: #524d5c; */
  /* background-image: url("images/dadcarry2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 10vw 0;
}

.aboutus-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #fffbef;
  color: #524d5c;
  box-shadow: 3px 3px 5px black;
  transition: 0.5s;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin: 5vw 0;
}

.aboutus-title {
  font-size: calc(28px + 14 * ((100vw - 335px) / 1265));
  line-height: 1.2;
  margin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.aboutus-text {
  margin: 20px 10px 40px 10px;
  padding: 10px;
  line-height: 1.8;
  font-size: calc(15px + 3 * ((100vw - 335px) / 1265));
}

#aboutus {
  /* margin: 5vw; */
}

#whatwebelieve {
  /* margin: 5vw 0; */
}

#ourservices {
  /* margin: 5vw 0 0 0; */
}




.aboutus-box:hover {
  background-color: #524d5c;
  color: #fffbef;
  border-top: 2px solid #fffbef;
  border-bottom: 2px solid #fffbef;
}

/* .aboutus-box:hover .aboutus-title {
  border-bottom: 2px solid #acccc6;
} */




.aboutus-hr {
  display: flex;
  justify-content: center;
  color: #524d5c;
}

.aboutus-hr hr {
  width: 40%;
  transition: 0.5s;
  color: #524d5c;
}


.aboutus-box:hover hr {
  width: 70%;
  color: #fffbef;
}










































/* #midbanner-container {
  background-image: url("images/dadcarry1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  box-shadow: 5px 5px 5px black;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}

#midbanner {
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  padding: 10px 0;
  border-radius: 10px;
  color: #fffbef;
  margin: 80px 0;
  transition: 0.5s;
  border: 2px solid transparent;
}

#midbanner-header {
  background-color: #524d5c;
  color: #fffbef;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  margin: 10px 0 10px 0;
  transition: 0.5s;
}


#midbanner-number {
  background-color: #524d5c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  margin: 10px 0 10px 0;
  transition: 0.5s;
}

#midbanner-number a {
  color: #fffbef;
  transition: 0.5s;
}

#midbanner-number span {

}

#midbanner:hover {
  background-color: #524d5c;
  transition: 0.5s;
  border: 2px solid #acccc6;
}

#midbanner:hover #midbanner-header {
  background-color: #fffbef;
  color: #524d5c;
  transition: 0.5s;
}

#midbanner:hover #midbanner-number {
  background-color: #fffbef;
  color: #524d5c;
  transition: 0.5s;
}

#midbanner:hover a {
  color: #524d5c;
  transition: 0.5s;
} */



























#virtues {
  /* background-color: #acccc6;
  color: #524d5c; */
  background-color: #524d5c;
  color: #acccc6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* text-shadow: 1px 1px 1px black; */
}

#virtues-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: calc(44px + 33 * ((100vw - 335px) / 1265));
  background-color: #fffbef;
  color: #524d5c;
  box-shadow: 5px 5px 5px black;
  width: 100%;
  padding: 35px 15px;
  margin: 15vw 0;
  height: 150px;
  transition: 0.5s;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

#virtues-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.virtue {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #fffbef;
  color: #524d5c;
  box-shadow: 5px 5px 5px black;
  width: 100%;
  margin: 0 0 15vw 0;
  transition: 0.5s;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.virtues-title {
  font-size: calc(30px + 20 * ((100vw - 335px) / 1265));
  line-height: 1.2;
  margin: 20px 0;
}

.virtues-text {
  font-size: calc(16px + 4 * ((100vw - 335px) / 1265));
  margin: 20px 10px 20px 10px;
  padding: 0 15px;
  display: flex;
  line-height: 1.2;
  flex-direction: column;
}

.virtues-text span {
  margin: 0 0 20px 0;
}

/* #virtues-title-1 {
  margin: 30px;
} */

/* #virtues-title-2 {
  margin: 0 30px;
} */

/* #virtues-3 {
  margin: 20px 0 60px 0;
} */

.virtues-hr {
  display: flex;
  justify-content: center;
  color: #524d5c;
}

.virtues-hr hr {
  width: 40%;
  transition: 0.5s;
  color: #524d5c;
}

.virtue:hover {
  background-color: #524d5c;
  color: #fffbef;
  border-top: 2px solid #fffbef;
  border-bottom: 2px solid #fffbef;
}

#virtues-header:hover {
  background-color: #524d5c;
  color: #fffbef;
  border-top: 2px solid #fffbef;
  border-bottom: 2px solid #fffbef;
}

.virtue:hover hr {
  width: 70%;
  color: #fffbef;
}





















#area-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/dadcarry1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#service-areas {
  display: flex;
  /* box-shadow: 2px 2px 5px #524d5c; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 9vw 0 0 0;
  /* border-radius: 10px; */
  transition: .5s;
  /* border: 4px solid transparent; */
}

/* #service-areas:hover {
  border: 4px solid #524d5c;
  transition: .5s;
}

#service-areas:hover #areas-title {
  color: #acccc6;
  background-color: #524d5c;
  border: 2px solid #acccc6;
  transition: 0.5s;
}

#service-areas:hover #areas-list {
  background-color: #524d5c;
  border: 2px solid #acccc6;
  transition: 0.5s;
}

#service-areas:hover #areas-list a {
  color: #fffbef;
}

#areas-list span:hover {
  color: #acccc6;
}

#areas-list a:hover {
  color: #acccc6;
} */

/* #areas-title {
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  color: #fffbef;
  font-size: calc(34px + 116 * ((100vw - 360px) / 1240));
  margin: 0 0 0 0;
  padding: 20px 10px 5px 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0;
  transition: 0.5s;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  animation: 2s ease-in 0.5s 1 borderFadeIn forwards;
}

#areas-title span {
  overflow: hidden;
  opacity: 1;
  animation: 1s ease-out 1.5s 1 slideInFromBot forwards;
  transform: translateY(100%);
}

#areas-title::after {
  content: '';
  position: relative;
  bottom: -5px;
  left: -4%;
  width: 108%;
  height: 2px;
  background: #acccc6;
  z-index: 99;
  animation:
    1.5s ease-out 0s 1 slideInFromLeft forwards,
    0.3s ease-out 2.5s 1 slideBackToLeft forwards;
  transform: translateX(-100%);
} */

#areas-body {
  width: 100%;
  display: flex;
  margin: 0 0 0 0;
}

#areas-list {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  text-shadow: 2px 2px 5px black;
  box-shadow: 1px 1px 5px black;
  color: #fffbef;
  font-size: calc(18px + 18 * ((100vw - 360px) / 1240));
  line-height: 1.8;
  padding: 10px;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  margin: 9vw auto 9vw 5vw;
  text-align: center;
  transition: .5s;
  /* border: 2px solid transparent; */
}

#areas-list a {
  width: 100%;
  color: #acccc6;
  border: 2px solid transparent;
  transition: .5s;
  margin: 0 0 5px 0;
}

#areas-list a:hover {
  background-color: #524d5c;
  color: #fffbef;
  transition: .5s;
  border: 2px solid #fffbef;
}

#areas-map-container {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#areas-map {
  display: flex;
  width: 80%;
  height: 20%;
  background-image: url('images/startmap.jpg');
  background-color: #cccccc;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}




























#services-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/dadintrailer1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services-container-jr {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10vw 0 0vw 0;
  text-shadow: 6px 6px 5px black;
  color: #fffbef;
  transition: 0.5s;
}

.service-box {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  color: #fffbef;
  line-height: 1.6;
  margin: 0 0 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  width: 100%;
}

.service-title {
  line-height: 1.6;
  margin: 25px 0;
  padding: 0 0 0 0;
  font-size: calc(30px + 12 * ((100vw - 335px) / 1265));
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  /* animation: 2s ease-in 0.5s 1 borderFadeIn forwards; */
}

.service-title a {
  color: #acccc6;
  border: 2px solid transparent;
  transition: 0.3s;
  padding: 10px;
  margin: 0;
  width: 100%;
  /* outline: 5px solid black; */
}

.service-title:hover a {
  background-color: #524d5c;
  color: #fffbef;
  transition: .5s;
  border: 2px solid #fffbef;
}

.service-list {
  line-height: 2.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  width: 100%;
  font-size: calc(20px + 12 * ((100vw - 335px) / 1265));
}

.service-list a {
  color: #acccc6;
  border: 2px solid transparent;
  transition: 0.3s;
  padding: 0 10px;
  margin: 5px 0;
  width: 100%;
}

.service-list a:hover {
  background-color: #524d5c;
  color: #fffbef;
  transition: .5s;
  border: 2px solid #fffbef;
}

.services {
background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
/* ), url(https://www.historic-uk.com/wp-content/uploads/2017/06/1950s-housewife.jpg); */
), url('images/1950s-housewife.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}






















#pricing-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/dadintrailer1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 2px 2px 5px #524d5c; */
}

#pricing {
  color: #524d5c;
  font-size: 1.6rem;
  line-height: 1.8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 12vw 0;
  transition: .5s;
  padding: 5px 0;
}

/* #pricing-title {
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  color: #fffbef;
  font-size: calc(34px + 96 * ((100vw - 360px) / 1240));
  margin: 0 15vw 0 0;
  padding: 20px 10px 2px 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0;
  transition: 0.5s;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#pricing-title span {
  overflow: hidden;
  opacity: 1;
  animation: 1s ease-out 1.5s 1 slideInFromBot forwards;
  transform: translateY(100%);
}

#pricing-title::after {
  content: '';
  position: relative;
  bottom: -2px;
  left: -4%;
  width: 108%;
  height: 2px;
  background: #acccc6;
  z-index: 99;
  animation:
    1.5s ease-out 0s 1 slideInFromLeft forwards,
    0.3s ease-out 2.5s 1 slideBackToLeft forwards;
  transform: translateX(-100%);
} */

#pricing-info {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  color: #fffbef;
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  font-size: calc(16px + 10 * ((100vw - 360px) / 1240));
  line-height: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 9vw 0 0 0;
  /* border-radius: 10px; */
  transition: .5s;
  border: 2px solid transparent;
  width: 100%;
}

#pricing-info span {
  margin: 15px 0;
  width: 100%;
  padding: 4px 12px;
  border: 2px solid transparent;
  /* transition: .5s; */
}

#pricing-info a {
  color: #fffbef;
  transition: .5s;
}

#pricing-info:hover {
  color: #acccc6;
  background-color: #524d5c;
  /* border-radius: 10px; */
  transition: .5s;
  border: 2px solid #acccc6;
}

#pricing-info span:hover {
  color: #fffbef;
  border: 2px solid;
  transition: .5s;
}






























#booknow-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/davidcarry.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#booknow-header {
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  text-shadow: 3px 3px 5px black;
  box-shadow: 1px 1px 5px black;
  color: #fffbef;
  font-size: calc(18px + 8 * ((100vw - 360px) / 1240));
  line-height: 1.4;
  margin: 12vw 0 15vw 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

#booknow-form-container {
  display: flex;
  width: 100%;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

#booknow-contact-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

#booknow-fieldset {
  border: none;
  /* width: 90%; */
  margin: 4vw 0 0 0;
}

.booknow-inputs {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  /* border-radius: 10px; */
}

#booknow-contentinput {
  margin: 10px 0;
  width: 100%;
  height: 200px;
  padding: 10px;
  /* border-radius: 10px; */
}

#booknow-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffbef;
  color: #524d5c;
  /* background-color: #524d5c;
  color: #fffbef; */
  padding: 10px;
  font-size: 1.6rem;
  box-shadow: 2px 2px 5px #524d5c;
  margin: 4vw 0;
  width: 100%;
  padding: 10px;
  border: 2px solid #524d5c;
  outline: none;
  /* border-radius: 10px; */
  transition: .5s;
}
  
#booknow-submit:hover {
  background-color: #524d5c;
  color: #fffbef;
  /* background-color: #fffbef;
  color: #524d5c; */
  transition: .5s;
  border: 2px solid #fffbef;
}





















































#footer {
  display: none;
}

#footertabs {

}

.footer-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tab-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffbef;
  color: #524d5c;
  height: 100%;
  width: 20%;
  transition: 0.6s;
}

.tab-link-active {
  color: #fffbef;
  background-color: #524d5c;
  height: 100%;
  width: 20%;
  transition: 0.6s;
  border-top: 1px solid #fffbef;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}

#footer-info-2 {
  margin: 20px 0;
}

.tab-content {
  width: 100%;
  color: #fffbef;
  background-color: #524d5c;
  font-size: 1.3rem;
  transition: 0.6s;
  text-shadow: 1px 1px 2px black;
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin: 80px 0;
  text-shadow: 1px 1px 2px black;
}

.footer-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.2;
  margin: 0 0 20px 0;
  transition: 0.5s;
}

.footer-tab-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffbef;
  transition: 0.5s;
  width: 90%;
  border: 2px solid transparent;
  margin: 0 0 3px 0;
}

.footer-tab-content a:hover {
  color: #acccc6;
  transition: 0.5s;
  border: 2px solid #acccc6;
}




























@media screen and (min-width: 579px) {

#top-nav-right-phone-left {
  width: 50%;
  justify-content: flex-end;
}

#top-nav-right-phone-right {
  width: 50%;
  font-size: 1.3rem;
}








#bottom-nav-booknow-link-span-1 {
  display: none;
}

#bottom-nav-booknow-link-span-2 {
  display: inline;
}








#home-first {
  justify-content: flex-start;
  margin: 2vw 0;
}

#home-first-logo {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin: 0 0 0 15%;
}

/* #home-fourth {
  background-image: url("images/trailer1.jpg");
} */















#areas-map {
  height: 40%;
}








#footertabs {
  display: none;
}

#footer {
  display: inline;
}
  
#f-container {
  display: flex;
  background-color: #524d5c;
  color: #fffbef;
  text-shadow: 1px 1px 3px black;
}

.f-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  border: 1px solid transparent;
}

.f-hr {
  transition: 0.5s;
  position: relative;
  bottom: 8px;
}

.f-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.f-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0px 0;
  /* border: 1px solid black; */
  font-size: 1.2rem;
  border-top: 1px solid #fffbef;
}

.f-content {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2;
}

.f-content a {
  color: #fffbef;
  transition: 0.5s;
  width: 100%;
  border-bottom: 2px solid transparent;
}

.f-content span {
  border-bottom: 2px solid transparent;
}

#f-info-2 {
  margin: 20px 0;
}

.f-box hr {
  width: 40%;
  transition: 0.5s;
  color: #fffbef;
  background-color: #fffbef;
}

.f-box:hover {
  border: 1px solid #fffbef;
  transition: 0.5s;
}

.f-box:hover .f-titles{
  background-color: #fffbef;
  color: #524d5c;
  transition: 0.5s;
}

.f-box a:hover {
  color: #524d5c;
  background-color: #fffbef;
  transition: 0.5s;
  border-bottom: 2px solid #acccc6;
}

.f-box:hover hr {
  width: 99%;
}

}


























@media screen and (min-width:767px) {




#top-nav-right-phone-right {
  font-size: 1.6rem;
}








#home-top {

}

#home-mid {
  /* margin: 0 0 30px 0; */
}

#home-mid-bot {

}

#home-mid-bot {

}

#home-third {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

#home-third-button-1 {
  /* margin: 0 0 10px 0; */
  width: 70%;
  margin: 0 0 20% 0;
}

#home-third-button-2 {
  /* margin: 0 0 10px 0; */
  width: 70%;
}

#home-fourth {
  display: flex;
  width: 60%;
  border-top: 2px solid #fffbef;
  border-bottom: 2px solid #fffbef;
}

#home-fourth-img {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("images/trailer1.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-attachment: fixed; */
  position: relative;
}






























#aboutus-container {
  /* justify-content: space-evenly; */
  /* text-shadow: 1px 1px 1px black; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 650px;
  /* border: 3px solid red; */
}

.aboutus-box {
  height: 100%;
  margin: 0 0;
  justify-content: flex-start;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.aboutus-box:hover {
  border-right: 2px solid #fffbef;
  border-left: 2px solid #fffbef;
}

.aboutus-title {
  /* font-size: 2rem; */
  /* margin: 0 0; */
  height: 100px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.aboutus-text {
  /* font-size: 1.1rem; */
  /* line-height: 1.2; */
  /* padding: 0 20px; */
  /* margin: 0 0 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80%; */
}




























#virtues-header {
  height: 200px;
}

#virtues-body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


































#areas-map {
  height: 50%;
}






.f-titles {
font-size: 1.3rem;
/* height: 90px; */
}

.f-info-box {
font-size: 1.1rem;
}

.f-content {
font-size: 1.1rem;
line-height: 2;
padding: 0 1px;
}





















#services-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, .3)
  ), url("images/dadintrailer2.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services-container-jr {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 10vw 0 0vw 0;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

.service-box {
  background: none;
  width: 100%;
  margin: 0 2vw 10vw 2vw;
}

.service-title {
  line-height: 1.6;
  margin: 25px 0;
  padding: 0 0 25px 0;
  font-size: calc(20px + 16 * ((100vw - 335px) / 1265));
  flex-direction: column;
  /* border-bottom: 5px solid black; */
}

/* .service-title::after {
  content: '';
  position: relative;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 5px;
  background: #acccc6;
  z-index: 100;
  animation:
    1.5s ease-out 0s 1 slideInFromLeft forwards,
    0.3s ease-out 2.5s 1 slideBackToLeft forwards;
  transform: translateX(-100%);
} */

.service-list {
  font-size: calc(16px + 12 * ((100vw - 335px) / 1265));
}


}
































@media screen and (min-width: 991px) {



/* #aboutus {
  margin: 30px 0 30px 5%;
} */

/* #whatwebelieve {
  margin: 30px 5%;
} */

/* #ourservices {
  margin: 30px 5% 30px 0;
} */

/* .aboutus-text {
  font-size: 1.1rem;
  margin: 20px 5% 30px 5%;
}



.aboutus-title {
  font-size: 2rem;
  margin: 5px 0 10px 0;
  line-height: 1.2;
} */


/* .aboutus-text {
  font-size: 1.1rem;
  margin: 20px 10px 30px 10px;
} */

.aboutus-title {
  margin: 30px 0 20px 0;
}

.aboutus-box {
  margin: 0 2vw;
}

#virtues-header {
  height: 200px;
  margin: 100px 0;
}

.virtue {
  margin: 0 2vw 150px 2vw;
  border: 2px solid #fffbef;
}

#virtues-2 {
  margin: 0 0 150px 0;
}




















.f-titles {
  /* padding: 0 5px 0; */
  font-size: 1.6rem;
}

.f-info-box {
  font-size: 1.1rem;
}

.f-content {
  font-size: 1.1rem;
  line-height: 2;
  /* padding: 0 1px; */
}


}




















@media screen and (min-width: 1200px) {

  #home-img-container {
    display: none;
  }
  
  #home-first-logo {
    display: none;
  }

  #home-img-container-2 {
    display: flex;
    width: 60%;
    float: left;
  }
  
  #home-first-logo-2 {
    display: flex;
    max-width: 100%;
    height: auto;
    max-height: 500px;
    animation: 2s ease-in-out 0s 1 popIn;
    float: left;
  }

  #home-top {
    margin: 5vw 0 0 0;
  }

  #home-mid {
    margin: 0 0 0 0;
  }

  #home-second {
    line-height: 2.5;
  }

  #aboutus-container {
    height: 600px;
  }








}