@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  box-sizing: border-box;
}

html {
  visibility: hidden;
  font-size: 100%;
}

.hidden {
  display: none;
}

/* font-size: calc(14px + 2 * ((100vw - 335px) / 1265)); */

/* light blue: #acccc6
dark blue: #524d5c
salmon: #faada0
white: #fffbef */

/* h2:before { 
  content: "Read: ";
<span class="Apple-converted-space">    color: #F00;</span>
} */

/* p:after{ 
  content: " -Read more… ";
  color:#f00;
} */

#overlord {
  font-family: 'Montserrat', sans-serif;
}

#nav {
  display: flex;
  flex-direction: column;
}

#top-nav-container {

}

.is-active {
  background-color: #524d5c;
}

.is-active span {
  color: #acccc6;
}



@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-300%) rotate(-360deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}



#top-nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #acccc6;
  background-image: linear-gradient(to right, #acccc6, #524d5c);
}

#top-nav-left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#top-nav-left img {
  height: 100%;
  width: auto;
  margin: 0 0 0 10%;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

#top-nav-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top-nav-right a {
  color: #acccc6;
}

#top-nav-right-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 5px #524d5c;
  height: 50%;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + 21 * ((100vw - 335px) / 1265));
  animation: 2s ease-out 0s 1 slideInFromTop;
}

#top-nav-right-number {
  height: 25%;
  margin: 0 15px 0 0;
  font-size: calc(14px + 4 * ((100vw - 335px) / 1265));
  animation: 2s ease-out 0s 1 slideInFromRight;
}

#top-nav-right-number a {
  transition: 0.5s;
}

#top-nav-right-number a:hover {
  text-shadow: 0px 0px 20px #acccc6;
}

#top-nav-right-phone-text {
  height: 25%;
  margin: 0 15px 0 0;
  /* padding: 0 15px; */
  font-size: calc(14px + 4 * ((100vw - 335px) / 1265));
  animation: 2s ease-out 0s 1 slideInFromRight;
}

#top-nav-right-phone-text a {
  transition: 0.5s;
}

#top-nav-right-phone-text a:hover {
  text-shadow: 0px 0px 20px #acccc6;
}

#top-nav-right-phone-text span {
  padding: 0 5px;
}




























#bottom-nav-container {
}

#bottom-nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0;
  width: 100%; */
  z-index: 100;
  background-color: #acccc6;

}

#bottom-nav-left {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-left: 1px solid #524d5c; */
  text-shadow: 1px 1px 5px #524d5c;
}

.bottom-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid #524d5c;
  border-right: 1px solid #524d5c;
  border-bottom: 1px solid #524d5c;
  transition: 0.4s;
}

.bottom-nav-button a {
  color: #524d5c;
  animation: 1.5s ease-out 0s 1 popIn;
  transition: 0.4s;
}

.bottom-nav-button span {
  transition: 0.4s;
}

#bottom-nav-home-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

#bottom-nav-home-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
}

#bottom-nav-areas-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-nav-areas-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: 0.5s;
}

#bottom-nav-services-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

#bottom-nav-services-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: 0.5s;
}

#bottom-nav-pricing-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
}

#bottom-nav-pricing-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
}

#bottom-nav-booknow-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-nav-booknow-link:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
}

#bottom-nav-booknow-link-span-2 {
  display: none;
}

#bottom-nav-right {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #acccc6;
  border-top: 1px solid #524d5c;
  /* border-right: 1px solid #524d5c; */
  border-bottom: 1px solid #524d5c;
}

#bottom-nav-right i {
  color: #524d5c;
  animation: 2s ease-out 0s 1 popIn;
}

#bottom-nav-right i:hover {
  transition: .5s;
  transform: scale(1.5);
}

#facebook-button {

}

#twitter-button {

}

#youtube-button {

}













.is-active {
  background-color: #524d5c;
}

.is-active span {
  color: #acccc6;
  transition: .4s;
}

.is-active:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

.is-active:hover span {
  margin: 0 0 6px 0;
}

.is-active:hover:before {
  visibility: visible;
  transform: scaleX(1);
}








#bottom-nav-home-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-home-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-home-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-areas-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-areas-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-areas-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-services-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-services-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-services-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-pricing-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-pricing-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-pricing-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}



#bottom-nav-booknow-link:before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 9px;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .4s cubic-bezier(1,.25,0,.75) 0s;
}

#bottom-nav-booknow-link:hover span {
  margin: 0 0 6px 0;
}

#bottom-nav-booknow-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}






















#home-container {
  background-image: url("https://i.imgur.com/SbPeX96.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 2000px; */
  z-index: 10;
}

#home-top {
  /* background-image: url("https://i.imgur.com/SbPeX96.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  /* box-shadow: 5px 5px 5px black; */
}

#home-first {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 4rem; */
  /* text-shadow: 2px 2px 5px black; */
  /* line-height: 125%; */
  /* background-color: rgba(255, 255, 255, .35); */
  /* backdrop-filter: blur(50px); */
  z-index: 10;
  width: 100%;
  margin: 60px 0;
}

#home-img-container {
  width: 60%;
}

#home-first-logo {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  /* margin: 0 0 0 15%; */
  animation: 2s ease-in-out 0s 1 popIn;
}

/* #home-first:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
} */

#home-second {
  background-color: rgba(255, 255, 255, .60);
  font-size: 1.8rem;
  display: flex;
  width: 80%;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 5px #524d5c;
  padding: 10px;
  z-index: 10;
  line-height: 1.6;
  color: #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: 0.5s;
}

#home-second:hover {
  color: #fffbef;
  background-color: #524d5c;
  border: 2px solid #acccc6;
  transition: 0.5s;
  /* text-shadow: 2px 2px 5px #fffbef; */
}

#home-third {
  font-size: 1.1rem;
  z-index: 10;
  margin: 100px 0;
}

#home-third-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #acccc6;
  background-color: #524d5c;
  /* position: relative; */
  padding: 20px;
  font-size: 1.8rem;
  box-shadow: 2px 2px 5px #524d5c;
  border-radius: 3px;
  text-shadow: 1px 1px 2px black;
  border: 2px solid transparent;
}
  
#home-third-button:hover {
  color: #524d5c;
  background-color: #acccc6;
  transition: 0.5s;
  border: 2px solid #524d5c;
}

/* #home-third-button::before {
  content: "";
  margin: 0 0 8px 10%;
  position: absolute;
  width: 80%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #acccc6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#home-third-button:hover::before {
  visibility: visible;
  background-color: #524d5c;
  transform: scaleX(1);
} */
































#aboutus-container {
  /* background-color: #acccc6;
  color: #524d5c; */
  /* background-image: url("https://i.imgur.com/SbPeX96.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; */
  /* background-color: #524d5c;
  color: #acccc6; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* text-shadow: 1px 1px 1px black; */
}

.aboutus-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  /* background-color: #524d5c;
  color: #fffbef; */
  background-color: #fffbef;
  color: #524d5c;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  transition: 0.5s;
  border: 2px solid transparent;
}

.aboutus-title {
  font-size: 2rem;
  margin: 0 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: 0.5s; */
  /* border-bottom: 2px solid transparent; */
}

.aboutus-text {
  font-size: 1.1rem;
  margin: 20px 10px 40px 10px;
}

#aboutus {
  margin: 30px;
}

#whatwebelieve {
  margin: 0 30px;
}

#ourservices {
  margin: 30px;
}




.aboutus-box:hover {
  background-color: #524d5c;
  color: #fffbef;
  border: 2px solid #acccc6;
}

/* .aboutus-box:hover .aboutus-title {
  border-bottom: 2px solid #acccc6;
} */




.aboutus-hr {
  display: flex;
  justify-content: center;
  color: #524d5c;
}

.aboutus-hr hr {
  width: 40%;
  transition: 0.5s;
  color: #524d5c;
}


/* #virtues-:hover {
  background-color: #524d5c;
  color: #fffbef;
  border: 2px solid #acccc6;
} */

.aboutus-box:hover hr {
  width: 70%;
  color: #acccc6;
}




















#quotebanner-container {

}

#quotebanner-banner {

}

#quotebanner-button {

}































#midbanner-container {
  /* background-image: url("https://i.imgur.com/SbPeX96.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; */
  box-shadow: 5px 5px 5px black;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}

#midbanner {
  background-color: rgba(255, 255, 255, .75);
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  color: #524d5c;
  margin: 80px 0;
  transition: 0.5s;
  border: 2px solid transparent;
}

#midbanner-header {
  background-color: #524d5c;
  color: #fffbef;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  margin: 10px 0 10px 0;
  transition: 0.5s;
}


#midbanner-number {
  background-color: #524d5c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  margin: 10px 0 10px 0;
  transition: 0.5s;
}

#midbanner-number a {
  color: #fffbef;
  transition: 0.5s;
}

#midbanner-number span {

}

#midbanner:hover {
  background-color: #524d5c;
  transition: 0.5s;
  border: 2px solid #acccc6;
}

#midbanner:hover #midbanner-header {
  /* background-color: #acccc6; */
  background-color: #fffbef;
  color: #524d5c;
  transition: 0.5s;
}

#midbanner:hover #midbanner-number {
  background-color: #fffbef;
  color: #524d5c;
  transition: 0.5s;
}

#midbanner:hover a {
  color: #524d5c;
  transition: 0.5s;
}



























#virtues {
  /* background-color: #acccc6;
  color: #524d5c; */
  background-color: #524d5c;
  color: #acccc6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* text-shadow: 1px 1px 1px black; */
}

#virtues-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  /* background-color: #524d5c;
  color: #fffbef; */
  font-size: 2.4rem;
  background-color: #fffbef;
  color: #524d5c;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  width: 90%;
  padding: 35px 15px;
  margin: 60px 0 40px 0;
  transition: 0.5s;
  border: 2px solid transparent;
}

#virtues-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.virtue {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  /* background-color: #524d5c;
  color: #fffbef; */
  background-color: #fffbef;
  color: #524d5c;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  width: 90%;
  margin: 20px 0;
  transition: 0.5s;
  border: 2px solid transparent;
}

.virtues-title {
  font-size: 2rem;
  line-height: 1.2;
  margin: 20px 0;
}

.virtues-text {
  font-size: 1.1rem;
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

.virtues-text span {
  margin: 0 0 20px 0;
}

/* #virtues-title-1 {
  margin: 30px;
} */

/* #virtues-title-2 {
  margin: 0 30px;
} */

#virtues-3 {
  margin: 20px 0 60px 0;
}

.virtues-hr {
  display: flex;
  justify-content: center;
  color: #524d5c;
}

.virtues-hr hr {
  width: 40%;
  transition: 0.5s;
  color: #524d5c;
}

.virtue:hover {
  background-color: #524d5c;
  color: #fffbef;
  border: 2px solid #acccc6;
}

#virtues-header:hover {
  background-color: #524d5c;
  color: #fffbef;
  border: 2px solid #acccc6;
}

.virtue:hover hr {
  width: 70%;
  color: #acccc6;
}





















#area-container {
  background-image: url("https://i.imgur.com/C8Ezwlc.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#service-areas {
  background-color: rgba(255, 255, 255, .75);
  display: flex;
  box-shadow: 2px 2px 5px #524d5c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin: 100px 0 100px 0;
  border-radius: 10px;
  transition: .5s;
  border: 4px solid transparent;
}

#service-areas:hover {
  border: 4px solid #524d5c;
  transition: .5s;
}

#service-areas:hover #areas-title {
  color: #acccc6;
  background-color: #524d5c;
  border: 2px solid #acccc6;
  transition: 0.5s;
  /* text-shadow: 2px 2px 5px #fffbef; */
}

#service-areas:hover #areas-list {
  background-color: #524d5c;
  border: 2px solid #acccc6;
  transition: 0.5s;
  /* text-shadow: 2px 2px 5px #fffbef; */
}

#service-areas:hover #areas-list a {
  color: #fffbef;
}

#areas-list span:hover {
  color: #acccc6;
}

#areas-list a:hover {
  color: #acccc6;
}

#areas-title {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 2.4rem;
  margin: 70px 0 70px 0;
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s;
  width: 80%;
  border: 2px solid transparent;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#areas-list {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 70px 0;
  border-radius: 10px;
  text-align: center;
  transition: .5s;
  border: 2px solid transparent;
}

#areas-list a {
  width: 100%;
  color: #524d5c;
  border: 2px solid transparent;
  transition: .5s;
  margin: 0 0 5px 0;
}

#areas-list span {
  /* transition: .5s; */
  padding: 0 10px;
}

#areas-list a:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
  border: 2px solid #acccc6;
}































#services-container {
  background-image: url("https://i.imgur.com/R0jJoMQ.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#our-services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#services-title {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 2.6rem;
  margin: 70px 0;
  padding: 20px;
  border-radius: 10px;
  transition: .5s;
  border: 2px solid transparent;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services-title:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
  border: 2px solid #acccc6;
}

#services-container-jr {
  width: 80%;
  margin: 0;
}

.service-box {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
  border-radius: 10px;
  border: 4px solid transparent;
  transition: .5s;
}

.service-box:hover {
  border: 4px solid #524d5c;
  transition: .5s;
 }

.service-title {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  font-size: 2rem;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: .5s;
}

.service-box:hover .service-title {
  background-color: #524d5c;
  color: #fffbef;
  transition: .5s;
  border: 2px solid #acccc6;
}

.service-box:hover .service-title a {
  color: #fffbef;
}

.service-box:hover .service-list {
  transition: .5s;
  border: 2px solid #acccc6;
  background-color: #524d5c;
}

.service-box:hover .service-list a {
  color: #fffbef;
}

.service-title a {
  color: #524d5c;
  transition: .5s;
}

.service-title a:hover {
  color: #acccc6;
  transition: .5s;
}

.service-title:hover a {
  color: #acccc6;
  transition: .5s;
}

.service-title a:hover {
  color: #acccc6;
  transition: .5s;
}

.service-list {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 1.4rem;
  line-height: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 0 0 10px 0;
  transition: .5s;
  border: 2px solid transparent;
}

.service-list a {
  color: #524d5c;
  border: 2px solid transparent;
  width: 100%;
  transition: .5s;
  margin: 0 0 5px 0;
  padding: 0 10px;
}

.service-list a:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
  border: 2px solid #acccc6;
  padding: 0 10px;
}

.service-box span:hover {
  color: #acccc6;
  transition: .5s;
}























#pricing-container {
  background-image: url("https://i.imgur.com/KBWAbDH.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px #524d5c;
}

#pricing {
  /* background-color: rgba(255, 255, 255, .75); */
  color: #524d5c;
  font-size: 1.6rem;
  line-height: 1.8;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .5s;
  padding: 5px 0;
}

#pricing-title {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  font-size: 2.4rem;
  margin: 50px 0;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  width: 90%;
  border: 2px solid transparent;
  transition: .5s;
}

#pricing-title a {
  color: #524d5c;
}

#pricing-title:hover {
  color: #acccc6;
  background-color: #524d5c;
  transition: all 0.5s ease;
  border: 2px solid #acccc6;
}

#pricing-info {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 1.2rem;
  line-height: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 50px 0;
  border-radius: 10px;
  transition: .5s;
  border: 2px solid transparent;
  width: 90%;
}

#pricing-info span {
  margin: 15px 0;
  width: 100%;
  padding: 4px 12px;
  border: 2px solid transparent;
  /* transition: .5s; */
}

#pricing-info a {
  color: #524d5c;
  transition: .5s;
}

#pricing-info:hover {
  color: #acccc6;
  background-color: #524d5c;
  border-radius: 10px;
  transition: .5s;
  border: 2px solid #acccc6;
}

#pricing-info span:hover {
  color: #fffbef;
  border: 2px solid;
  transition: .5s;
}






























#booknow-container {
  background-image: url("https://i.imgur.com/gt1qQom.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#booknow {
  /* background-color: rgba(255, 255, 255, .75); */
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booknow-title {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  font-size: 1.8rem;
  margin: 50px 0 45px 0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 90%;
  transition: 0.5s;
}

#booknow-title:hover {
  border: 2px solid #acccc6;
  background-color: #524d5c;
  color: #acccc6;
  transition: 0.5s;
}

#booknow-header {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  font-size: 1.2rem;
  margin: 20px 0 50px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 90%;
  transition: 0.5s;
}

#booknow-header:hover {
  border: 2px solid #acccc6;
  background-color: #524d5c;
  color: #acccc6;
  transition: 0.5s;
}

#booknow-form-container {
  display: flex;
}

#booknow-contact-form {
  display: flex;
  justify-content: center;
}

#booknow-fieldset {
  border: none;
  width: 90%;
  margin: 15px 0 50px 0;
}

.booknow-inputs {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#booknow-contentinput {
  margin: 10px 0;
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
}

#booknow-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #acccc6;
  color: #524d5c; */
  background-color: #524d5c;
  color: #acccc6;
  padding: 10px;
  font-size: 1.6rem;
  box-shadow: 2px 2px 5px #524d5c;
  margin: 30px 0 0 0;
  width: 100%;
  padding: 10px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 10px;
  transition: .5s;
}
  
#booknow-submit:hover {
  /* background-color: #524d5c;
  color: #acccc6; */
  background-color: #acccc6;
  color: #524d5c;
  transition: .5s;
  border: 2px solid #524d5c;
}
























.services {
  background-image: url("https://i.imgur.com/R0jJoMQ.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
}

.services-box {
  width: 80%;
  max-width: 650px;
  margin: 50px 0;
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  border-radius: 10px;
  padding: 15px;
}

.services-title {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 2.3rem;
  line-height: 1.6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px 0 25px 0;
  border-radius: 10px;
  border: 4px solid transparent;
  transition: 0.5s;
}

.services-body {
  background-color: rgba(255, 255, 255, .75);
  text-shadow: 2px 2px 5px #524d5c;
  box-shadow: 2px 2px 5px #524d5c;
  color: #524d5c;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin: 0 0 5px 0;
  border: 4px solid transparent;
  transition: 0.5s;
}

.areas {
  background-image: url("https://i.imgur.com/C8Ezwlc.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
}

.services-box:hover .services-title {
  border: 4px solid #acccc6;
  background-color: #524d5c;
  transition: 0.5s;
}

.services-box:hover .services-body {
  border: 4px solid #acccc6;
  background-color: #524d5c;
  transition: 0.5s;
}

.services-box:hover span {
  color: #fffbef;
  transition: 0.5s;
}

.services-box span {
  transition: 0.5s;
}
















#footer {
  display: none;
}

#footertabs {

}

.footer-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tab-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffbef;
  color: #524d5c;
  height: 100%;
  width: 20%;
  transition: 0.6s;
}

.tab-link-active {
  color: #fffbef;
  background-color: #524d5c;
  height: 100%;
  width: 20%;
  transition: 0.6s;
  border-top: 1px solid #fffbef;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}

#footer-info-2 {
  margin: 20px 0;
}

.tab-content {
  width: 100%;
  color: #fffbef;
  background-color: #524d5c;
  font-size: 1.3rem;
  transition: 0.6s;
  text-shadow: 1px 1px 2px black;
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin: 80px 0;
  text-shadow: 1px 1px 2px black;
}

.footer-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.2;
  margin: 0 0 20px 0;
  transition: 0.5s;
}

.footer-tab-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffbef;
  transition: 0.5s;
  width: 90%;
  border: 2px solid transparent;
  margin: 0 0 3px 0;
}

.footer-tab-content a:hover {
  color: #acccc6;
  transition: 0.5s;
  border: 2px solid #acccc6;
}




























@media screen and (min-width: 600px) {

#top-nav-right-phone-left {
  width: 50%;
  justify-content: flex-end;
}

#top-nav-right-phone-right {
  width: 50%;
  font-size: 1.3rem;
}




















#bottom-nav-booknow-link-span-1 {
  display: none;
}

#bottom-nav-booknow-link-span-2 {
  display: inline;
}






































#home-first {
  justify-content: flex-start;
  margin: 60px 0 60px 0;
}

#home-first-logo {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin: 0 0 0 15%;
}

#home-second {
  font-size: 2.2rem;
}


















#virtues-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  

  flex-direction: row; 
}

.virtue {
  display: flex;
  flex-direction: column;

  align-content: center;

  text-align: center;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  width: 90%;
  margin: 0 0;
  /* height: 600px; */
}

.virtues-title {
  font-size: 2rem;
  margin: 30px 0;
  line-height: 1.2;
}

.virtues-text {
  font-size: 1.1rem;
  margin: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.virtues-text span {
  margin: 0 0 20px 0;
}

#virtues-1 {
  margin: 0 15px 0 0;
}

/* #virtues-2 {
  height: 100%;
} */

#virtues-3 {
  /* margin: 20px 0 60px 0; */
  margin: 0 0 80px 15px;
}
































#footertabs {
  display: none;
}

#footer {
  display: inline;
}
  
#f-container {
  display: flex;
  background-color: #524d5c;
  color: #fffbef;
  text-shadow: 1px 1px 3px black;
}

.f-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  border: 1px solid transparent;
}

.f-hr {
  transition: 0.5s;
  position: relative;
  bottom: 8px;
}

.f-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}

.f-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0px 0;
  /* border: 1px solid black; */
  font-size: 1.2rem;
  border-top: 1px solid #fffbef;
}

.f-content {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2;
}

.f-content a {
  color: #fffbef;
  transition: 0.5s;
  width: 100%;
}

#f-info-2 {
  margin: 20px 0;
}

.f-box hr {
  width: 40%;
  transition: 0.5s;
  color: #fffbef;
  background-color: #fffbef;
}

.f-box:hover {
  border: 1px solid #fffbef;
  transition: 0.5s;
}

.f-box:hover .f-titles{
  background-color: #fffbef;
  color: #524d5c;
  transition: 0.5s;
}

.f-box a:hover {
  color: #524d5c;
  background-color: #fffbef;
  transition: 0.5s;
}

.f-box:hover hr {
  width: 99%;
}

}


























@media screen and (min-width: 800px) {






#top-nav-right-phone-right {
  font-size: 1.6rem;
}













#aboutus-container {
  display: flex;
  justify-content: space-evenly;
  /* text-shadow: 1px 1px 1px black; */

  width: 100%;
  flex-direction: row;
}

.aboutus-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
}

.aboutus-title {
  font-size: 2rem;
  margin: 5px 0 10px 0;
  line-height: 1.2;
}

.aboutus-text {
  font-size: 1.1rem;
  margin: 25px 10px 30px 10px;
}

#aboutus {
  margin: 30px 0 30px 30px;
}

#whatwebelieve {
  margin: 30px;
}

#ourservices {
  margin: 30px 30px 30px 0;
}
































.virtue {
  display: flex;
  flex-direction: column;

  align-content: center;

  text-align: center;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  width: 90%;
  margin: 0 0;
}

#virtues-1 {
  margin: 0 40px 0 0;
}

#virtues-2 {
  height: 100%;
}

#virtues-3 {
  /* margin: 20px 0 60px 0; */
  margin: 0 0 60px 40px;
}




























.f-titles {
font-size: 1.3rem;
/* height: 90px; */
}

.f-info-box {
font-size: 1.1rem;
}

.f-content {
font-size: 1.1rem;
line-height: 2;
padding: 0 1px;
}

}




















@media screen and (min-width: 1000px) {



#aboutus {
  margin: 30px 0 30px 5%;
}

#whatwebelieve {
  margin: 30px 5%;
}

#ourservices {
  margin: 30px 5% 30px 0;
}

.aboutus-text {
  font-size: 1.1rem;
  margin: 20px 5% 30px 5%;
}



.aboutus-title {
  font-size: 2rem;
  margin: 5px 0 10px 0;
  line-height: 1.2;
}


/* .aboutus-text {
  font-size: 1.1rem;
  margin: 20px 10px 30px 10px;
} */























.virtue {
  display: flex;
  flex-direction: column;

  align-content: center;

  text-align: center;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  width: 90%;
  margin: 0 0;
}

#virtues-1 {
  margin: 0 5% 0 0;
}

#virtues-2 {
  height: 100%;
}

#virtues-3 {
  /* margin: 20px 0 60px 0; */
  margin: 0 0 60px 5%;
}



































#services-container {
  background-image: url("https://i.imgur.com/R0jJoMQ.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#our-services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

#services-title {
  margin: 100px 0;
  width: 95%;
}

#services-container-jr {
  width: 100%;
  margin: 0 0 70px 0;
  display: flex;
  justify-content: space-evenly;
}

.service-box {
  color: #524d5c;
  line-height: 1.6;
  margin: 0 10px 50px 10px;
  width: 31.5%;
}

.service-title {
  line-height: 1.5;
}

/* .service-box:hover .service-title {
  background-color: #524d5c;
  color: #fffbef;
  transition: .5s;
  border: 2px solid #acccc6;
}

.service-box:hover .service-title a {
  color: #fffbef;
}

.service-box:hover .service-list {
  transition: .5s;
  border: 2px solid #acccc6;
  background-color: #524d5c;
}

.service-box:hover .service-list a {
  color: #fffbef;
}

.service-title a {
  color: #524d5c;
  transition: .5s;
}

.service-title:hover a {
  color: #acccc6;
  transition: .5s;
} */

.service-list {
  line-height: 1.8;
}

.service-list a {
  color: #524d5c;
}

/* .service-list a:hover {
  background-color: #524d5c;
  color: #acccc6;
  transition: .5s;
} */






#booknow-title {
  width: 80%;
}

#booknow-header {
  width: 80%;
}




























.f-titles {
  /* padding: 0 5px 0; */
  font-size: 1.6rem;
}

.f-info-box {
  font-size: 1.1rem;
}

.f-content {
  font-size: 1.1rem;
  line-height: 2;
  /* padding: 0 1px; */
}


}